.slide-wrapper {
  width: 100vw;
  height: 550px;
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.slick-dots {
  position: absolute;
  bottom: 20px;          
  width: 100%;
  display: flex !important;
  justify-content: center;
  z-index: 2;            
}

.slick-dots li button:before {
  font-size: 12px;          /* Kích thước chấm */
  color: #FFA7D0;             /* ✅ Màu chấm tròn thường */
  opacity: 0.5;
}

/* Màu của chấm đang active */
.slick-dots li.slick-active button:before {
  color: #FF499E;           /* ✅ Màu chấm đang chọn */
  opacity: 1;
}

.slide-background {
  width: 100%;
  height: 100%;
  position: relative;
}

/* .slide-content {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  z-index: 1;
} */


.slide-content {
  position: absolute;
  top: 50%;
  right: 5%;
  left: auto;
  transform: translateY(-50%);
  text-align: left;
  color: white;
  z-index: 1;
  max-width: 500px;
}

.slide-content h1 {
  font-size: 48px;
  margin-bottom: 16px;
}

.slide-content p {
  font-size: 20px;
  margin-bottom: 24px;
}

.btn-slide {
  background-color: #FF3995;
  padding: 12px 24px;
  color: white;
  text-decoration: none;
  border-radius: 25px;
  font-weight: bold;
}

.btn-slide-1 {
  background-color: #FFF;
  padding: 12px 24px;
  color: #F5167E;
  text-decoration: none;
  border-radius: 25px;
  font-weight: bold;
  border: 1px solid #F5167E;
}